.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #334155;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .main {
    margin-left: 0;
  }
}
